<!-- main -->
<div ng-controller="billController">
    <div class="modal-backdrop fade  in" ng-class="{in: animate}" ng-style="{'z-index': 1040 + (index &amp;&amp; 1 || 0) + index*10}" modal-backdrop="" style="z-index: 1040;" ng-show="modalDrop"></div>
    <div role="dialog" class="modal fade in" style="overflow-x: hidden;overflow-y: hidden;" ng-class="{in: animate}" ng-style="{'z-index': 1050 + index*10, display: 'block'}"  index="0" animate="animate" style="z-index: 1050; display: block;" ng-show="modalDialog">

        <div style="overflow:hidden;width:500px;top:250px;" class="modal-dialog modal-width-664">
            <!-- 开始手术start -->
            <div ng-show="Isoperation">
                <div class="wrapper-md">
                    <div class="panel-default def-relative panel-bg" style="float: left;width: 100%;border-radius:6px;">
                    <form name="form" class="form-validation" id="formTable">
                        <div class="col b-l bg-auto no-border-xs">
                        <div class="wrapper-md">
                            <p style="text-align:center;color:#5488f8;font-size:22px;">确认无误完成</p>
                            <div style="height:100px;width:100%;text-align:center;font-size:20px;color:rgba(153,153,153,1);" class="gm-table-tr gm-table-trw gm-table-tr-fn">
                        <!-- 请确认手术是否完成并且拍摄照片 -->
                            </div>
                            <div class="gm-table-tr" style="width: 100%;text-align:center;margin:0 auto;">
                            <button style="margin-top:0px;" class="btn btn-cancel ntr" ng-click="cancel()">返回</button>
                            </div>
                        </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
            <!-- 开始手术end -->
        </div>


        <div style="overflow:hidden;width:900px;top:50px;" class="modal-dialog modal-width-664">
        <div ng-show="Isedituser" style="overflow:hidden;">
            <div class="wrapper-md">
                <div class="panel-default def-relative panel-bg" style="float: left;width: 100%;border-radius:6px;">
                <!-- / content col -->
                    <div style="height: auto;box-shadow: none;border: none;" class="panel panel-default ">
                        <div class="des-task-center">
                            <div class="des-task-img">
                                <img src="img/image/logo.png" width="100%" height="100%"/>
                            </div>
                            <h1>项目缴费通知单</h1>
                            <div style="margin-bottom:0px;height:auto;overflow:hidden;" class="gm-table">
                                <div style="height:auto;width:33.33%;" class="gm-table-tr">
                                    <label style="line-height:33px;" class="gm-label">
                                        <img style="margin-top:-5px;" src="img/image/designer_pic.png" alt="">
                                        <span class="designer-bold-color">{{orsList.customerName}}</span></label>
                                </div>
                                <div style="height:auto;width:33.33%;" class="gm-table-tr">
                                    <label style="line-height:33px;" class="gm-label">
                                        <img style="margin-top:-5px;" src="img/image/designer_phone.png" alt="">
                                        <span class="designer-bold-color">{{orsList.customerPhone}}</span></label>
                                </div>
                                <div style="margin-bottom:0px;width:33.33%;height:auto;text-align:center;" class="gm-table-tr">
                                    <label class="designer-gray" class="gm-label">订单编号:<span style="color:#333;">{{orsList.orderNo}}</span>
                                    </label>
                                </div>
                            </div>
                            <div style="margin-bottom:0px;height:auto;overflow:hidden;" class="gm-table">
                                <div style="height:auto;width:33.33%;" class="gm-table-tr">
                                    <label style="line-height:33px;" class="gm-label">交款部门：<span>{{orsList.designerName}}</span></label>
                                </div>
                                <div style="height:auto;width:33.33%;" class="gm-table-tr">
                                    <label style="line-height:33px;" class="gm-label">场外老师：<span>{{orsList.consultName}}</span></label>
                                </div>
                            </div>
                            <div style="overflow:hidden;width:100%;">
                                <div style="width:100%;text-align:left;display: inline-block;float:left;margin-bottom:20px;">备注：<span>{{orsList.designerRemark==''?'--':orsList.designerRemark}}</span></div>
                                <div style="width:100%;text-align:left;display: inline-block;float:left;">材料：<span>{{orsList.material}}</span></div>
                            </div>
                            <div class="tab-border-s">
                                <table>
                                    <tr style="background:rgba(237,237,237,1);">
                                        <th style="width:20%;text-align:center; border: 1px solid #ccc !important;">项目</th>
                                        <th style="width:20%;text-align:center; border: 1px solid #ccc !important;">应缴费金额</th>
                                        <th style="width:20%;text-align:center; border: 1px solid #ccc !important;">医生</th>
                                        <th style="width:20%;text-align:center; border: 1px solid #ccc !important;">实收金额</th>
                                    </tr>
                                    <tr ng-repeat="mark in markList">
                                        <td>{{mark.projectName}}</td>
                                        <td>{{mark.projectMoney}}</td>
                                        <td>{{mark.doctorName}}</td>
                                        <td>{{mark.assessMoney}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div style="padding-left: 20px;" class="ls-width">
                            <div style="padding-top: 0px;padding-right: 20px;">
                                <div style="position: relative;" class="table-responsive">
                                    <div class="gm-table ft" style="overflow: hidden;">
                                        <div class="gm-table-tr" style="float: left;width: auto;">
                                            <p style="font-size: 16px;line-height:30px;color: #4A4A4A;">
                                                <span class="l-hi">合计金额：</span><span style="color:red;">{{orsList.costMoney}}</span>
                                                <span>
                                                    (<span ng-if="orsList.wechatMoney!=0">微信:{{orsList.wechatMoney}}</span>
                                                    <span ng-if="orsList.slotcordMoney!=0">刷卡:{{orsList.slotcordMoney}}</span>
                                                    <span ng-if="orsList.cashMoney!=0">现金:{{orsList.cashMoney}}</span>
                                                    <span ng-if="orsList.loanMoney!=0">贷款:{{orsList.loanMoney}}</span>
                                                    <span ng-if="orsList.alipayMoney!=0">支付宝:{{orsList.alipayMoney}}</span>)
                                                </span>
                                            </p>
                                            <p style="font-size: 16px;line-height:30px;color: #4A4A4A;">
                                                <span class="l-hi">收款人：</span>
                                                <span >{{orsList.financeName}}</span>
                                            </p>
                                        </div>
                                        <div class="gm-table-tr" style="width: auto;float: right;text-align:right;">
                                            <p style="font-size: 16px;line-height:30px;color: #4A4A4A;text-align:right;">
                                                <span class="l-hi">下单时间：</span><span>{{orsList.designerDate}}</span>
                                            </p>
                                            <p style="font-size: 16px;line-height:30px;color: #4A4A4A;text-align:right;">
                                                <span style="padding-left:20px;" class="l-hi">收款时间：</span>
                                                <span >{{orsList.proceedDate}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- / content col -->
                    <div class="gm-table-tr" style="width: 100%;text-align:center;margin:0 auto;">
                        <button style="margin-top:0px;" class="btn btn-cancel ntr" ng-click="cancel()">返回</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="col" style="float: left;width: 100%;">
        <!-- main header -->
        <div class="lter wrapper-md" style="padding-bottom:0;">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">对账确认</h1>
                </div>
            </div>
        </div>
        <div class="wrapper-md" style="padding-bottom: 0;">
            <div class="wrap-box panel">
                <a class="prev" ng-click="nextClick()">
                    <div class="prev-box">
                        <img src="img/image/prev.png" width="100%" height="100%"/>
                    </div>
                </a>
                <a class="prev1">
                    <div class="prev-box">
                        <img src="img/image/prev.png" width="100%" height="100%"/>
                    </div>
                </a>
                <div class="wrap-list">
                    <ul>
                        <li ng-repeat="weeks in weekList track by $index" ng-click="weekClick($index)">
                            <div class="wrp-text">
                                <p class="wrp-one">{{weeks.week}}</p>
                                <p class="wrp-two">{{weeks.sureDate}}</p>
                                <p class="wrp-three">{{weeks.totalMoneys}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <a class="next" ng-click="prevClick()">
                    <div class="next-box">
                        <img src="img/image/next.png" width="100%" height="100%"/>
                    </div>
                </a>
                <div class="bill-stern" ng-click="notAccountClick(reconciliation.systemDate)">
                    <p>未结算金额</p>
                    <p>{{notaccontMoney}}</p>
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md" style="padding-top: 0;">
            <!-- tasks -->
            <div class="panel wrapper" style="margin-bottom:0;border: 0;padding: 15px 15px 0px 15px;">
                <div class="row">
                    <div style="height:250px;" class="row-header">
                        <div class="header-top">
                            <p style="color:#4a4a4a;font-size:18px;">合计:&nbsp;&nbsp;<span class=""></span>{{reconciliation.totalMoney}}<span>元</span></p>
                        </div>
                        <div class="financical-person-set">
                            <ul>
                                <li class="person-set-li1" ng-click="billMoney(reconciliation.cash,reconciliation.systemDate)">
                                    <p class="bill-con-money-head">{{reconciliation.cash}}收款</p>
                                    <p class="bill-con-money-yuan">{{reconciliation.cashMoney}}</p>
                                </li>
                                <li class="person-set-li2" ng-click="billMoney(reconciliation.alipay,reconciliation.systemDate)">
                                    <p class="bill-con-money-head">{{reconciliation.alipay}}收款</p>
                                    <p class="bill-con-money-yuan">{{reconciliation.alipayMoney}}</p>
                                </li>
                                <li class="person-set-li3" ng-click="billMoney(reconciliation.wechat,reconciliation.systemDate)">
                                    <p class="bill-con-money-head">{{reconciliation.wechat}}收款</p>
                                    <p class="bill-con-money-yuan">{{reconciliation.wechatMoney}}</p>
                                </li>
                                <li class="person-set-li4" ng-click="billMoney(reconciliation.slotcord,reconciliation.systemDate)">
                                    <p class="bill-con-money-head">{{reconciliation.slotcord}}收款</p>
                                    <p class="bill-con-money-yuan">{{reconciliation.slotcordMoney}}</p>
                                </li>
                                <li class="person-set-li5" ng-click="billMoney(reconciliation.loan,reconciliation.systemDate)">
                                    <p class="bill-con-money-head">{{reconciliation.loan}}收款</p>
                                    <p class="bill-con-money-yuan">{{reconciliation.loanMoney}}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="gm-table" ng-if="reconciliation.status!=='1'">
                            <div class="gm-table-tr" style="float: none;margin: 0 auto;">
                                <button class="btn btn-bolting ntr" ng-click="inerrant(reconciliation)">确认无误</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / tasks -->
        </div>
    </div>
    <div class="col" style="float: left; width: 100%;" ng-show="colDetail">
        <!--收款明细详情start-->
        <div class="lter wrapper-md">
            <!-- tasks -->
            <div class="panel wrapper" style="margin-bottom:0;border: 0;padding: 15px 15px 0px 15px;">
                <div class="row">
                    <div class="row-header" style="height: auto;">
                        <div class="financical-person-set" style="height: auto;">
                            <ul style="height: auto;">
                                <li class="person-set-li1" ng-if="reStatus=='现金'">
                                    <p class="bill-con-money-head">{{reStatus}}收款</p>
                                    <p class="bill-con-money-yuan">{{reMoney}}</p>
                                </li>
                                <li class="person-set-li2" ng-if="reStatus=='支付宝'">
                                    <p class="bill-con-money-head">{{reStatus}}收款</p>
                                    <p class="bill-con-money-yuan">{{reMoney}}</p>
                                </li>
                                <li class="person-set-li3" ng-if="reStatus=='微信'">
                                    <p class="bill-con-money-head">{{reStatus}}收款</p>
                                    <p class="bill-con-money-yuan">{{reMoney}}</p>
                                </li>
                                <li class="person-set-li4" ng-if="reStatus=='刷卡'">
                                    <p class="bill-con-money-head">{{reStatus}}收款</p>
                                    <p class="bill-con-money-yuan">{{reMoney}}</p>
                                </li>
                                <li class="person-set-li5" ng-if="reStatus=='贷款'">
                                    <p class="bill-con-money-head">{{reStatus}}收款</p>
                                    <p class="bill-con-money-yuan">{{reMoney}}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="panel panel-default panel-bg" style="box-shadow:none;border:none;width: 100%;">
                            <div class="table-responsive" style="width: 100%;" id="table-sive">
                                <table class="table table-striped m-b-none">
                                    <thead>
                                    <tr>
                                        <th  style="width:25%">时间</th>
                                        <th style="width:25%">订单编号</th>
                                        <th  style="width:20%">收钱金额</th>
                                        <th  style="width:30%">收款人</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="Mon in MonList track by $index">
                                            <td>{{Mon.receiptDate}}</td>
                                            <td ng-click="detailInfo($index)">{{Mon.orderNo}}</td>
                                            <td>{{Mon.receiptMoney}}</td>
                                            <td>{{Mon.receiptName}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div jj-pager pager-info="detailPager" showpagenum="5" on-page-change="billPage(pager)" style="margin-top: 20px;float: right;margin-bottom: 20px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / tasks -->
        </div>
        <!--收款明细详情end-->
    </div>
</div>
<!-- 对账确认/收支明细 -->