<div class="bg-light lter wrapper-md">
        <h1 class="m-n font-thin h3">出入记录</h1>
</div>
<div class="wrapper-md" ng-controller="recordsExportController">
          <div class="panel-default def-relative panel-bg" style="float: left;width: 100%;">
            <!-- / content col -->
            <div class="col b-l bg-auto no-border-xs">
                  <div class="wrapper-md">
                    <!-- tasks -->
                    <div style="width:100%;float: left;">
                      <div class="wrapper-md" style="padding: 15px 0px 0px 0px;">
                        <div class="panel panel-default panel-bg" style="box-shadow:none;border:none;">
                            <div id="Isshow" class="gm-table">
                                <div class="gm-table-tr">
                                    <label class="gm-label">查询</label>
                                    <input type="text" class="form-control input-sm w-sm inline m-r" placeholder="药品名或领取人" ng-model="user.queryData" required/>
                                </div>
                                <div class="gm-table-tr">
                                    <label class="gm-label">时间区间</label>
                                    <div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" ng-change="dateChange(dt)" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="关闭"/>
                                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                    </div>
                                </div>
                                <div class="gm-table-tr">
                                    <label class="gm-label"></label>
                                    <div>
                                        <div class="input-group">
                                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dts" ng-change="datChange(dts)" is-open="opensMore" datepicker-options="dateOptions" ng-required="true" close-text="关闭"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="opens($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-left:20px;" class="gm-table-tr">
                                  <label class="gm-label">出入库</label>
                                  <div style="width: 190px;">
                                    <div class="btn-group" ng-init="sex = '1'" ng-click="issex()">
                                      <label class="btn bts-info" ng-model="sex" btn-radio="'1'"><i class="fa fa-check text-active"></i>出库</label>
                                      <label class="btn btn-bolt" ng-model="sex" btn-radio="'2'"><i class="fa fa-check text-active"></i> 入库</label>
                                    </div>
                                  </div>
                                </div>
                                <div class="gm-table-tr" style="width: 190px;">
                                    <button class="btn btn-bolting ntr" ng-click="Screening()">筛选</button>
                                </div>
                            </div>
                          <div class="table-responsive" ng-show="NoRecords">
                            <p class="noMessage">暂无出入记录信息</p>
                          </div>
                          <div class="table-responsive" ng-show="IsRecords">
                            <table class="table table-striped m-b-none">
                              <thead>
                                <tr>
                                  <th  style="width:25%">时间</th>
                                  <th  style="width:30%">领取药品</th>
                                  <th  style="width:18%">领取数量</th>
                                  <th  style="width:14%">领取人</th>
                                  <th style="width:13%">状态</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="records in recordsList">
                                  <td>{{records.operateDate}}</td>
                                  <td>{{records.materialName}}</td>
                                  <td>{{records.number}}</td>
                                  <td>{{records.opertaor}}</td>
                                  <td>
                                     <span style="padding:0px;" class="second-span">{{records.operateStatus}}</span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <div jj-pager pager-info="detailPager" showpagenum="10" on-page-change="recordPage(pager)" style="margin-top: 20px;float: right;margin-bottom: 20px;"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- / tasks -->
                  </div>
            </div>
            <!-- / content col -->
          </div>
        </div>