<div class="bg-light lter wrapper-md">
  <h1 class="m-n font-thin h3">预约名单</h1>
</div>
<div class="wrapper-md" ng-controller="TableRollController">
    <div class="panel-default def-relative panel-bg" style="float: left;width: 100%;">
      <!-- / content col -->
      <div class="text-danger wrapper text-center">
        {{authError}}
      </div>
      <div class="col b-l bg-auto no-border-xs">
            <div class="wrapper-md">
              <div class="gm-table">
                <div class="gm-table-tr">
                  <label class="gm-label">姓名</label>
                  <input type="text" class="form-control input-sm w-sm inline m-r" placeholder="输入姓名" ng-model="user.name" required/>
                </div>
                <div class="gm-table-tr">
                  <label class="gm-label">电话</label>
                  <input type="text" class="form-control input-sm w-sm inline m-r" placeholder="输入电话" ng-model="user.phone" required/>
                </div>
                <div class="gm-table-tr">
                  <!-- chosen -->
                  <link rel="stylesheet" type="text/css" href="vendor/jquery/chosen/chosen.css"/>
                  <label class="gm-label">咨询设计师</label>
                  <div class="chosen-container chosen-container-single" style="width:150px;height: 34px;" title="">
                    <a class="chosen-single chosen-default" ng-click="chosenSingle()">
                      <span ng-show="pleaseSelect">请选择</span>
                      <span ng-show="dgner">{{user.designame}}</span>
                      <div>
                        <b></b>
                      </div>
                    </a>
                    <div class="chosen-drop" ng-show="chosenDrop">
                      <div class="chosen-search">
                        <input type="text" class="design_input" autocomplete="off" placeholder="搜索关键字" ng-model="user.desName" ng-change="designerChange()"/>
                      </div>
                      <ul class="chosen-results">
                        <li class="active-result" data-option-array-index="{{$index}}" style="" ng-repeat="roles in roleQueryList track by $index" ng-click="roleClick($index)">{{roles.rolename}}</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="gm-table-tr">
                  <label class="gm-label">渠道商</label>
                  <div class="chosen-container chosen-container-single channel" style="width:150px;height: 34px;" title="">
                    <a class="chosen-single chosen-default" ng-click="channelSingle()">
                      <span ng-show="channelSelect">请选择</span>
                      <span ng-show="canel">{{user.ordersource}}</span>
                      <div>
                        <b></b>
                      </div>
                    </a>
                    <div class="chosen-drop" ng-show="channelDrop">
                      <div class="chosen-search">
                        <input type="text" class="design_input" autocomplete="off" placeholder="搜索关键字" ng-model="user.chaName" ng-change="channelChange()"/>
                      </div>
                      <ul class="chosen-results">
                        <li class="active-result" data-option-array-index="{{$index}}" style="" ng-repeat="quers in sourceQueries track by $index" ng-click="channelClick($index)">{{quers.sourcename}}</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="gm-table-tr">
                  <label class="gm-label">到店时间区间</label>
                  <div>
                    <div class="input-group">
                      <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" ng-change="dateChange(dt)" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="关闭" required/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="gm-table-tr">
                  <label class="gm-label"></label>
                  <div>
                    <div class="input-group">
                      <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dts" ng-change="datChange(dts)" is-open="opensMore" datepicker-options="dateOptions" ng-required="true" close-text="关闭"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="opens($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="gm-table-tr" style="width: 190px;">
                  <button class="btn btn-bolting ntr" ng-click="filtrate()">筛选</button>
                </div>
              </div>
              <!-- tasks -->
              <div style="width:100%;float: left;">
                <div class="wrapper-md" style="padding: 15px 0px 0px 0px;">
                  <div class="panel panel-default panel-bg">
                    <div class="table-responsive" ng-show="noTable">
                      <p class="noMessage">暂无此人预约名单信息</p>
                    </div>
                    <div class="table-responsive" ng-show="tableRolls">
                      <table class="table table-striped m-b-none">
                        <thead>
                          <tr>
                            <th  style="width:10%">姓名</th>
                            <th  style="width:11%">电话</th>
                            <th  style="width:20%">预约项目</th>
                            <th  style="width:11%">设计师</th>
                            <th  style="width:14%">预约时间</th>
                            <th  style="width:14%">到店时间</th>
                            <th  style="width:10%">状态</th>
                            <th  style="width:10%">操作</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="rolls in rollList">
                            <td>{{rolls.customerName}}</td>
                            <td>{{rolls.customerPhone}}</td>
                            <td>{{rolls.projectRemark}}</td>
                            <td>{{rolls.designerName}}</td>
                            <td>{{rolls.appointmentTime}}</td>
                            <td>{{rolls.arrivestoreDate}}</td>
                            <td ng-if="rolls.orderStatus=='1'"><span class="label bg-warning" title="Disabled">已预约</span></td>
                            <td ng-if="rolls.orderStatus=='2'"><span class="label bg-warning" title="Disabled">到店</span></td>
                            <td ng-if="rolls.orderStatus=='3'"><span class="label bg-warning" title="Disabled">医生设计</span></td>
                            <td ng-if="rolls.orderStatus=='4'"><span class="label bg-warning" title="Active">收钱完成</span></td>
                            <td ng-if="rolls.orderStatus=='5'"><span class="label bg-warning" title="Active">手术中</span></td>
                            <td ng-if="rolls.orderStatus=='6'"><span class="label bg-warning" title="Active">手术完成</span></td>
                            <td ng-if="rolls.orderStatus=='7'"><span class="label bg-success" title="Suspended">客服确认</span></td>
                            <td ng-if="rolls.orderStatus=='8'"><span class="label bg-success" title="Suspended">完成</span></td>
                            <td ng-if="rolls.orderStatus=='9'"><span class="label bg-danger" title="Disabled">未完成</span></td>
                            <td>
                              <span><a href="" ng-click="endorder(rolls.orderNo)">结束订单</a></span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div jj-pager pager-info="detailPager" showpagenum="10" on-page-change="cagPage(pager)" style="margin-top: 20px;float: right;margin-bottom: 20px;"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- / tasks -->
            </div>
      </div>
      <!-- / content col -->
    </div>
  </div>